@{
	ViewBag.Title = "Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>增加友情链接</h2>
@using (Html.BeginForm("Add", "Links", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.Partial("_LinkForm")

	<div class="section">
		<button type="submit" class="button-save">提交</button>
	</div>
}
