@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>新增学生信息</h2>
@using (Html.BeginForm("Add", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.Partial("_StudentForm")

	<div class="section">
		<button type="submit" class="button-save">提交</button>
	</div>
}
